body {
  font-family: "Montserrat", sans-serif;
  color: $black;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Forum", cursive;
}
h1 {
  font-size: 64px;
  line-height: 71px;
  letter-spacing: 0.03em;
}
h3 {
  font-size: 64px;
  line-height: 71px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
}
h4 {
  font-size: 48px;
  line-height: 53px;
  letter-spacing: 0.03em;
}
.container {
  position: relative;
  max-width: 1146px;
  padding: 0 15px;
  margin: 0 auto;
}
.active {
  color: $black;
}
.slick-arrow {
  position: absolute;
  bottom: -36px;
  // right: 150px;
  right: calc((100vw - 1116px) / 2);
  // right: 0;
  z-index: 10;
}
.slick-prev {
  position: absolute;
  bottom: 0px;
  right: 253px;
  cursor: pointer;
}
.slick-next {
  cursor: pointer;
}
.slick-dots {
  display: flex;
  position: absolute;
  right: calc((100vw - 1116px) / 2 - -103px);
  bottom: calc(-38px / 2);
  z-index: 10;
}
.slick-dots li {
  display: block;
  max-width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #656565;
  margin: 0 8px;
  cursor: pointer;  
}
.slick-dots li button {
  font-size: 0px;
}
ul .slick-active {
  background-color: #fff;
}
